
/* --------------------- MAIN -------------------------*/

main {
    
    background-color: #ede6e034;
   
    
}

h1{ 
    padding: 20px 0px 50px 200px;
}



/* -------------------- CART STYLE ---------------------*/

body{
    width: 100%;
    position: relative; 
}


.cart{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px 5%;
    
}


.cart-container{
    position: relative;
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    justify-content: space-between;
    
    
}

.cart-items{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    
    
}
.cart-items-titles{
    width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #c4c4c4;
}
.item-titles{
    width: 50%;
    justify-content: space-between;
}

.item-titles li{
    width: 30%;
        
}

.item{
    padding-left: 25px;
}


.list-item2 ul{
    width: 100%;
    justify-content: space-between;
}

.list-item2 ul li{
    width: 30%;
}

.order-summary{
    position: relative;
    flex-grow: 1;
    top: -40px;
    margin-left: 20px;
}

.order-summary h3{
    padding: 0px 0px 10px 0px;
}

.delivery-options{
    text-align: end;
    margin-bottom: 10px;
    margin-right: 2px;
    text-decoration: underline;
    cursor: pointer;
}

.container-checkout{

    padding: 10px;
    border: 1px solid #c4c4c4;
    
    
}
.container-checkout .data-pre-checkout{
    border-bottom: 1px solid #c4c4c4;
    padding-bottom: 10px;
}

.container-checkout p{
    padding: 10px 10px 10px 0px;
}

.container-checkout p:nth-child(3){
    margin-bottom: 30px;
}

.container-checkout button{
    width: 100%;
    padding: 12px;
    margin: 10px 2px ;
    border: 1px solid  #222;
    background-color: #222;
}
.container-checkout button:hover{
    border-color: #EE3EC9;
    background-color: rgba(33, 33, 33, 0.705);
    cursor: pointer;
}

.container-checkout button a{
    color: white;
}

.container-checkout a:hover{
    opacity: 1;
}


.code-checkout{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 5px 10px 5px 5px;
    align-items: center;
    
}


.code-checkout form{
    flex-grow: 1;
    
}


.code-checkout input{
    
    border-radius: 2px;
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 7px;
    border: 1px solid black;
    
}

.code-checkout input:focus{
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.562);
    border: 1px solid #EE3EC9; 
    outline: 0;

}

.cart-product{
    display: flex;
    margin-bottom: 100px;
    
    
}

.product-name{
    width: 60%;
    margin: 5px 15px 0px 15px;
}


.list-item{
    display: flex;
    flex-wrap: nowrap;
    width: 60%;
    
}
.product-img{
    position: relative;
    width: 150px;
    top: 10px
}
.product-img img{
    width: 100%;
}

.product-features{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    padding-left: 0px;
    width: 40%;
    z-index: 1;
    border-bottom: 1px solid #c4c4c4;
    flex-grow: 1;
}

#product-edit{
    text-decoration: underline;
}


.list-item2{
    width: 60%;
    padding: 0px;
    justify-content: space-between;
    border-bottom: 1px solid #c4c4c4;
    
}


.list-item2 li{
    display: flex;
    width: 33%;
    
}

.input-style{
    border-radius: 2px;
    width: 80px;
    margin-bottom: 10px;
    padding: 7px;
    border: 1px solid black;
}


.input-style:focus{
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.562);
    border: 1px solid #EE3EC9; 
    outline: 0;

}

.fa-arrow-circle-down {
    position: absolute;
    color: black;
    bottom: 0px;
    right: 40px;
    font-size: 30px;
    z-index: 10;
}

.fa-arrow-circle-up{
    position: absolute;
    color: black;
    bottom: 0px;
    right: 0px;
    font-size: 30px;
    z-index: 10;
}




.action-container {
    position: absolute;
    bottom: 125px;
    right: 0;
}



.cart-wishlist{
   display: flex;
   flex-direction: column;
   margin-top: 100px;
}

.cart-wishlist-container{

 display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    padding-bottom: 100px;
   
    align-items: center;
}
.wishlist-img {
    margin: 0px 20px;
    
}

.wishlist-img img{
  
    width: 200px
}

.wishlist-img img:hover{
    opacity: 0.7;
    cursor: pointer;
}


.fa-arrow-alt-circle-left , .fa-arrow-alt-circle-right{
    font-size: 40px;
}

.cart-wishlist h3{
    padding:20px 0px 20px 175px;
}

@media (max-width: 1300px){

    h1{
        padding: 40px 0px 50px 125px;  
      
    }
    .cart{
        flex-direction: column;
        padding: 0px 10%;
       
    }
    .cart-container{
        width: 100%;
        justify-content: center;
        
    }
    .cart-items{
        width: 100%;
    }
    .order-summary{
        align-self: center;
        width: 60%;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
    }

    .cart-wishlist-container div:nth-child(2){
        display: none;
    }

    .cart-wishlist-container div:nth-child(3){
        display: none;
    }
    
    

}