*{
    margin: 0;
    box-sizing: border-box; 
    font-family: 'Lato', sans-serif; 
    border-radius: 2px;
}

header{
    display: flex;
    flex-direction: column;
    color: #222;
    border-bottom: 0.5px solid #ede6e0;
}


ul{
    width: 100%;
    display: flex;
}

li{
    list-style: none;
}

ul li{
    
    padding: 10px;
}

a{
    color: #222;
    
}


a:link{
    text-decoration: none;
}
a:visited{
    color: auto;
}
#promotions{
    color: #EE3EC9;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    height: 15px;
    align-items: center;
    
}

.search{
    position: absolute;
    left:0;
    font-size: 50px;
}

.fa-search{
    font-size: 14px;
}

#nav-bar1{ 
    justify-content: flex-end;
    
}

#nav-bar1 li{
    font-size: 12px;
    padding: 5px;
    margin: 5px 10px;
}
#nav-bar1 li:nth-child(4){
    font-size: 20px;
    margin: auto 0px;
}
#nav-bar1 li a:hover{
    opacity: 0.7;
}
.myaccount-prelog{
    display: none;
    position: relative;
   
   
}



#my-account:hover .myaccount-prelog{
    display: flex;
    position: absolute;
    right: 55px;
    width: 300px;
    flex-direction: column;
    padding: 20px;
    margin-top: 5px;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.897);
    z-index: 15;
   
    
    
      
}

.myaccount-prelog .title-prelog{
    margin-bottom: 20px;
    margin-left: 2px;
}

.prelog-container{
    width: 100%;
}

.myaccount-prelog input{
    border-radius: 2px;
    width: 100%;
    margin-bottom: 10px;
    padding: 7px;
    border: 1px solid black;
}

.prelog-container input:focus{
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.562);
    border: 1px solid #EE3EC9; 
    outline: 0;

}

.prelog-container p{
    margin: 10px 2px;
}
.prelog-container .forget-pass:hover{
    text-decoration:underline;
    opacity: 0.8;
}


.btn-log-in{
    color: white;
    background-color: black;
    width: 80%;
    padding: 7px;
    border-radius: 2px;
    border: none;
}

.btn-log-in:hover{
    opacity: 0.8;
    cursor: pointer;
}

.btn-register{
    margin-top: 10px;
    padding: 7px;
    border-radius: 2px;
    background-color: black;
    width: 80%;
    text-align: center;
}

.btn-register a{
    font-size: 13px;
    color: white;
}

.btn-register:hover{
    opacity: 0.8;
}

.container-checkout button{
    width: 100%;
    padding: 12px;
    margin: 10px 2px ;
    border: 1px solid  #222;
    background-color: #222;
}
.container-checkout button:hover{
    border-color: #EE3EC9;
    background-color: rgba(33, 33, 33, 0.705);
    cursor: pointer;
}

.container-logo{
    display: flex;
    justify-content: center;
    
}

.logo{
    height: 130px;
}

#nav-bar2{
    justify-content: center;
}

.nav-bar2-li{
    margin: 10px 40px;
    font-size: 15px;
    
}
#nav-bar2 li a:hover{
    opacity: 0.7;
}


#shop{
    position: relative;
    border-radius: 2px;
    z-index: 10;
 
}

#shop:hover{
    background-color: rgba(230, 227, 227, 0.699);
}

.sub-shop{
    display: none;
}

#shop:hover .sub-shop{ 
    display: flex;
    position: absolute;
    width: 150px;
    flex-direction: column;
    padding: 1px;
    top: 38px;
    left: 0px;
    font-size: 10px; 
    background-color:rgba(235, 235, 235, 0.95);
    z-index: 10;
    border-top: 1px solid white;
    border-radius: 2px;
} 

.sub-shop-list{
    margin: 0px auto 0px 0px;
    text-align: start;
}

.sub-shop-list:hover{
    width: 100%;
    padding-right: auto;
    margin-right: auto;
   
    
}

.sub-shop-list:hover a{
    opacity: 0.7;
    
}

.sub-shop a{
    padding: 5px;
    margin: 0px;
}


