


/*------------------------- MAIN HOME ----------------------*/

h1, .first-main{
    display:none;
}
body{
    width: 100%;
    position: relative; 
    overflow-x: hidden;
}

main{
    background-color: #ede6e034;
   
}
.background img{
    width: 100%;
    position: relative;
   
    
}

#new-arrivals{
    position: relative;
    width: 100%;
}

#new-arrivals h2{
    position: relative;
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 20px 0;
}

.products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
     
}


.product-container img{
    height: 100%;
    width: 100%;
}

.product-container{
    position: relative;
    width: 25%;
    padding: 0;
    
         
}

.product-container:hover{
    opacity: 0.8;
}
.product-detail h3{
    font-weight: normal;
}
.product-detail{
    position: absolute;
    left: 5px;
    bottom: 12px;
    color:rgb(0, 0, 0);
    
    

}

.fa-heart{
    position: absolute;
    right: 15px;
    bottom: 12px;
    color: rgb(0, 0, 0);
    
    font-size: 20px;
}

.button-shop{
    position: fixed;
    right: 15px;
    top: 50%;
    z-index: 10;
    border: 1px solid black;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.705);
    background-color: rgba(255, 255, 255, 0.801);
    font-size: 15px;
}



/* ----------- RESPONSIVE -----------------*/


@media(max-width:1024px){
    .product-container{
        position: relative;
        width: 33.3%;
        padding: 0;     
    }


}

@media (max-width: 768px) {

    h1{
        display: inline-block;
        font-size: 25px;
        padding: 5px 15px;
    }
  
    #new-arrivals h2{
        padding: 10px;
        font-size: 15px;
    }

    .background img{
        margin-top: 55px;
    }

    .product-container{
        margin-bottom: 80px;
        position: relative;
        width: 50%;
        padding: 0;
        
             
    }
    .product-container img{
        position: relative;
        width: 100%;
        border: 1px solid #ede6e034;
    }

    .product-detail{
        
        bottom: -50px; 
            
    }
    .fa-heart{
        bottom: -38px;
        
    
    }
   
}

@media (max-width: 425px){
    .product-container{
        position: relative;
        width: 100%;
        padding: 0;
           
    }
    body{
        width: 100%;
    }

}

