
/* ----------------- PRODUCT DETAIL MAIN --------------------*/

main {
    background-color: #ede6e034;
}

#product-detail {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 80px;
    margin: auto 15%;
}

.product-detail-imgs {
    display: flex;
    width: 65%;
}

.zoom-img {
    width: 87%;
}

.thumbnail-img-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 13%;
    padding-right: 10px;
}

.thumbnail-img {
    width: 100%;
    height: 100%;
}

.product-detail-text {
    display: flex;
    flex-direction: column;
    width: 35%;
}

.product-detail-title {
    flex-grow: 0.5;
    display: flex;
    flex-wrap: wrap;
}

.product-detail-title ul{
    justify-content: space-between;
    padding-left: 0px;
}

.product-detail__name-heart h1{
    font-size: 20px;
}

.product-detail__name-heart i{
    font-size: 20px;
}

.product-detail__price {
    font-size: 15px;
}

.product-detail__promotions {
    font-size: 10px;
}

.product-detail-selector {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.product-detail__colors {
    padding-left: 0px;
}

.product-detail__colors legend{
    font-size: 15px;
}

.product-detail__colors ul{
    padding-left: 0px;
    display: flex;
}

.product-detail__colors li{
    padding: 5%;
}

.color-circle {
    transform: scale(2);
    background-color: transparent
}

.color-circle:hover {
    cursor: pointer;
}

/* .color-circle:checked {
    background-color: transparent;
    color: #EE3EC9;
} */

select {
    width: 50%;
    border-radius: 2px;
    margin-bottom: 10px;
    padding: 7px;
    border: 1px solid black;
}

button {
    color: white;
    width: 100%;
    padding: 12px;
    margin: 10px 2px ;
    border: 1px solid  #222;
    background-color: #222;
}

button:hover{
    border-color: #EE3EC9;
    background-color: rgba(33, 33, 33, 0.705);
    cursor: pointer;
}

.fa-shopping-cart {
    margin-right: 10px;
}

.product-detail__details ul{
    padding: 5% 0px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #222;
}

.product-detail__details ul li {
    padding-left: 0px;
}

.fa-plus {
    color: #222;
    padding: 5px 6px;
    border: 1px solid #222;
    border-radius: 50%;
}

.product-detail__details {
    border-bottom: 1px solid #222;
}

/* ------------------- YOU MAY ALSO LIKE ---------------- */

.product-suggest{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
 }
 
.product-suggest-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    padding-bottom: 100px;
    align-items: center;
}

.icon-container i{
    font-size: 20px;
    color: #222;
    padding: 7px 9px;
    border: 1px solid #222;
    border-radius: 50%;
}

.wishlist-img {
    margin: 0px 20px;
 
}
 
.wishlist-img img{
    width: 200px
}
 
.wishlist-img img:hover{
    opacity: 0.7;
    cursor: pointer;
}
 
 
.fa-arrow-alt-circle-left , .fa-arrow-alt-circle-right{
    font-size: 40px;
}
 
.product-suggest h3{
    padding:20px 0px 20px 175px;
}

