/* --------------------- MAIN -------------------------*/

main {
    background-color: #ede6e034;
    padding-bottom: 100px;
}

h1{
    font-size: 25px;
    padding: 30px 0px 50px 200px;
}

/* --------------------- FORMS -------------------------*/

section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0px 250px;
}


h3, .required-files{

    padding: 5px 0px;  

}



.form-container{
    display: flex;
    flex-direction: column;
    width: 350px;
    border: 1px solid #c4c4c4;
    padding: 10px; 
    margin-top: 20px; 
}



.birthday-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 5px;
    
}

.birthday-container select{
    width: 30%;
    padding: 7px;

}

.country-city{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;

}

.country-city div:nth-child(1){
    margin-right: 10px;
    width: 50%;
}

.country-city div:nth-child(2){
   
    width: 50%;
}




.form-container input{
    border-radius: 3px;
    width: 100%;
    margin-bottom: 10px;
    padding: 7px;
    border: 1px solid black;
    margin-top: 10px;
}

.form-container input:focus:not([type="checkbox"]){
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.562);
    border: 1px solid #EE3EC9; 
    outline: 0;

}

.confirm-terms{
    position: relative;
    top: 218px;

}
.confirm-terms input , p{
    margin-top: 5px;
}


.container-city div{
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: space-between;
}


.form-container button{
    width: 100%;
    padding: 12px;
    margin: 10px 2px ;
    border: 1px solid  #222;
    background-color: #222;
    color: white;
    
}

.form-container button:hover{
    border-color: #EE3EC9;
    background-color: rgba(34, 34, 34, 0.705);
    cursor: pointer;
}


.terms-policy:hover{
    text-decoration: underline;
}

.btn-create-account{
    position: relative;
}





@media (max-width:1440px){
    section{
        padding: 0px 125px;
    }
}

@media (max-width:1024px){
    h1{
        padding: 30px 0px 50px 125px;
    }
    section{
        padding: 0px 25px;
    }
}

@media (max-width:768px){
    h1{
        padding: 30px 0px 50px 50px;
    }
    section{
        flex-direction: column;
        align-items: center;
        padding: 0px auto;
    }
    .form-container{
        width:85%
    }
    .confirm-terms{
        top: 0px 
        
    }
}

@media (max-width:425px){
    h1{
        padding: 30px 0px 50px 25px;
    }
    section{
        padding: 0px 5px;
        flex-direction: column;
        align-items: center;
    }

    section div:nth-child(1){
        margin-bottom: 50px;
    }

    .form-container{
        width:90%
    }

   
    
}