*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    
}

.background-villero{
    background-image: url('https://images.unsplash.com/photo-1584190810197-75f679c058fb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
    background-size: cover;
     
}

header{
    display: flex;
    flex-direction: column;
    color: rgb(0, 0, 0);
    
}


ul{
    width: 100%;
    display: flex;
}

li{
    list-style: none;
}

ul li{
    
    padding: 10px;
}

a{
    color: rgb(0, 0, 0);
    
}
a:link{
    text-decoration: none;
}
a:visited{
    color: auto;
}
#promotions{
    color: #EE3EC9;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    height: 15px;
    align-items: center;
    
}

.search{
    position: absolute;
    left:0;
    font-size: 50px;
}

.fa-search{
    font-size: 14px;
}

#nav-bar1{ 
    justify-content: flex-end;
    
}

#nav-bar1 li{
    font-size: 10px;
    padding: 5px;
    margin: 5px 10px;
}
#nav-bar1 li:nth-child(4){
    margin: auto 0px;
}


.container-logo{
    display: flex;
    justify-content: center;
    
}

.logo{
    height: 130px;
}

#nav-bar2{
    justify-content: center;
}

#nav-bar2 li{
    margin: 10px 40px;
}

#nav-bar2 a{
    font-weight: bold;
}


main{
    height: 1000px;
}


footer{
    display: flex;
    background-color: white;
    height: 125px;
}
footer ul{
    font-size: 12px;
    padding: 0;
    margin: 10px;
    align-items: flex-end;
}

footer i{
    font-size: 15px;
}

#footer-left{
    justify-content: flex-start;
}

#footer-rigth{
    justify-content: flex-end;
}

#new-arrivals h2{
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 20px 0;
}

.products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
     
}


.product-container img{
    height: 100%;
    width: 100%;
}

.product-container{
    position: relative;
    width: 25%;
    padding: 0;
    
         
}

.product-container:hover{
    opacity: 0.8;
}
.product-detail{
    position: absolute;
    left: 5px;
    bottom: 12px;
    color:rgb(245, 245, 245);
    text-shadow: 2px 2px 2px rgb(54, 54, 54);

}

.fa-heart{
    position: absolute;
    right: 15px;
    bottom: 12px;
    color: rgb(245, 245, 245);
    text-shadow: 2px 2px 2px rgb(54, 54, 54);
    font-size: 30px;
}



