<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head')%>
<body>
    
    <%- include('../partials/header')%>
   
    <main id="product-upload__main">
        <section id="product-upload__section">
            <form action="/products/create" method="POST" id="product-upload__form" enctype="multipart/form-data">

                <div class="h1-center">
                    <h1>SIZES</h1>
                </div>
                

                <div class="manage-inventory-container">
                    <div class="title-container">
                        <h3>AVAILABLE SIZES</h3>
                    </div>

                    <div class="manage-form-container">
                        
                        <ul class="ul-upload-data">
                            <li>
                                <input type="checkbox" name="colors">
                                <label for="colors">SIZE</label>
                            </li>
                            <li>
                                <p>CATEGORY</p>
                            </li>
                        </ul>

                        <% for(size of sizes){%>
                        <ul class="ul-upload-data">
                            <li>
                                <input type="checkbox" name="colors">
                                <label for="colors"><%= size.title%></label>
                            </li>
                            <li>
                                <p>CATEGORY</p>
                            </li>
                        </ul>
                        <%}%>
                        <div class="submit-button-container">
                            <button type="button" id="create-button">EDIT</button>
                        </div>
                        <div class="submit-button-container">
                            <button type="button" id="create-button">DELETE</button>
                        </div>
                    </div>
                    
                </div>
                
                <a href="/products/create/sizes/add">
                    <button href="/products/create/sizes/add" type="button" class="buttons-detail" name="button">+ ADD NEW SIZE</button>
                </a>
            </form>
        </section>





    </main>
    
    <%- include('../partials/footer')%>
    <script src="/scripts/validator/create.js"></script>
    
</body>
</html>