<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head')%>
<body>
    <!-- HEADER -->
    <%- include('../partials/header')%>

    <main>
        <h1>wishlist</h1>
    </main>

    <!-- FOOTER -->
    <%- include('../partials/footer')%>
    
</body>
</html>