<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head')%>
<body>
    
    <%- include('../partials/header')%>
   
    <main id="product-upload__main">
        <section id="product-upload__section">
            <form action="/products/create/colors/add" method="POST" id="product-upload__form" >

                <div class="h1-center">
                    <h1>ADD NEW COLOR</h1>
                </div>
                <ul class="errors"></ul>
                <div class="image-upload-container">
                    <div class="title-container">
                        <h3>ADD IMAGE</h3>
                    </div>
                    
                    <ul id="loaded-images-ul">
                        <li>
                            <label for="file">
                                <div>
                                    <span class="material-icons camera-icon">
                                        add_a_photo
                                    </span>
                                    <p>+ ADD</p>
                                    <p>(max 6 images)</p>
                                </div>
                            </label>
                            <input name="images" id="file" type="file">
                        </li>
                        
                        <li>
                            <small class="errors-style"><%= typeof errors == 'undefined' ? '' : typeof errors.images == 'undefined' ? '' : errors.images.msg %></small>
                        </li>
                    </ul>
                    

                </div>
                <div class="product-data-container">
                
                    <div class="title-container">
                        <h3>COLOR TITLE</h3>
                    </div>
                    <div class="product-data">
                        <label for="title"></label>
                        <input type="text" class="input-style" value="" name="title" id="create-name">
                    </div>
                  
                    <div class="product-data">
                        <div class="title-container">
                            <h3>HEXADECIMAL</h3>
                        </div>
                        <input type="color" value="" name="hexadecimal">
                        <div class="title-container">
                            <span># COLOR CODE</span>
                        </div>
                    </div>
                </div>
                
                <div class="submit-button-container">
                    <button type="submit" id="create-button">SAVE COLOR</button>
                </div>
            </form>
        </section>





    </main>
    
    <%- include('../partials/footer')%>
    
</body>
</html>