<header>
    <section id="promotions">
        <h6>PROMOTIONS</h6>
    </section>
    <nav>
        <ul class="first-main">
            <li><h2>RECKLESS</h2></li>
            <li>
                <div id="btn-main">
                    <i class="fas fa-bars"></i>
                </div>
            </li>
        </ul>
        <ul id="nav-bar1">
            <li class="search"><i class="fas fa-search"></i></li>          
            <li id="my-account"><a href="">MY ACCOUNT</a>
                <div class="myaccount-prelog">
                    <div class="prelog-container">
                        <h3 class="title-prelog">WELCOME</h3>
                        <form action="/" method="GET">
                            <input type="text" placeholder="USERNAME" name="log-in" autocomplete="off">
                            <input type="password" placeholder="PASSWORD" name="log-in">
                            <button type="submit" class="btn-log-in" name="log-in">LOG IN</button>
                            <p>If you have an account with us, log in using your email address and password. </p>
                            <a class="forget-pass" href="">Did you forget your password?</a>
                            <div class="btn-register">
                                <a href="../users/register">REGISTER NOW</a>
                            </div>
                        </form>

                    </div>    
                    
                </div>
            </li>     
            <li><a href="/products/wishlist">WISHLIST</a></li>
            <li>
                <a href="/cart">
                    <span class="material-icons-outlined">
                        shopping_cart
                    </span>
                </a>
            </li>
            <li>EN | ES</li>
        </ul>
        
        <div class="container-logo">
            <a href="/" method="GET"><img class="logo" src="../imgs/logoreckless.png"  alt=""></a>
        </div>  

        <ul id="nav-bar2">
            <li class="nav-bar2-li"><a href="/">HOME</a></li>
            <li id="shop" class="nav-bar2-li"><a href="../products">SHOP</a>
                <ul class="sub-shop">
                    <li class="sub-shop-list"><a href="../products">NEW ARRIVALS</a></li>
                    <li class="sub-shop-list"><a href="../products/tops">TOPS</a></li>
                    <li class="sub-shop-list"><a href="../products/bottoms">BOTTOMS</a></li>
                    <li class="sub-shop-list"><a href="../products/outerwear">OUTERWEAR</a></li>
                    <li class="sub-shop-list"><a href="../products/denim">DENIM</a></li>
                </ul>
            </li>
            <li class="nav-bar2-li"><a href="/lookbook">LOOKBOOK</a></li>
            <li class="nav-bar2-li"><a href="/social">SOCIAL</a></li>
            <li class="nav-bar2-li"><a href="/contact">CONTACT</a></li>
        </ul>
    
    </nav>
</header>