<script src="/scripts/fixed-main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<footer>
    
    <ul id="footer-left">
        <li><a href="">TERMS OF USE</a></li>
        <li><a href="">ABOUT US</a></li>
        <li><a href="">NEWSLETTER</a></li>
        <li><a href="">FAQ</a></li>
    </ul>    

    <ul id="footer-right">
        <li><p>FOLLOW US</p></li>
        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
    </ul>

    
</footer>