<!DOCTYPE html>
<html lang="en">

<%- include('partials/head')%>

<body>

    
    <%- include('partials/header')%>


    <main id="main-cart"> 
          
        <section class="cart">
            <div class= "h1-left">
                <h1>Shopping cart</h1>
            </div>

            <div class="cart-container">
                <div class="cart-article">
                    <article class="cart-items">
                        <div class="cart-items-titles">
                            <ul class="item-titles">
                                <li class="item">Item</li>
                            </ul>    
                            <ul class="item-titles">
                                <li>Price</li>
                                <li>Quantity</li>
                                <li>Total Price</li>
                            </ul>  
                        </div>    
                        

                        <div class="cart-product">
                            <div class="list-item">
                                
                                <div class="product-img">
                                    <img src="https://images.unsplash.com/photo-1583743814966-8936f5b7be1a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80"  alt="">
                                </div>
                                
                                <ul class="product-features">
                                    <li><h3>PRODUCT NAME</h3></li>
                                    <li><p>STYLE #222222</p></li>
                                    <li><p>Size 6</p></li>
                                    <li><a href="" id="product-edit">Edit</a></li>
                                </ul>
                                
                            </div>

                            <div class="list-item2">
                                <ul>   
                                    <li>$0.00</li>
                                    <li>
                                        <form action="">
                                            <input type="number" name="productQuantity" class="input-style">
                                        </form>
                                    </li>
                                    <li>
                                        $0.00
                                    </li>
                                </ul>

                                <div class="action-container">
                                    <span class="material-icons">
                                        keyboard_arrow_up
                                    </span>
                                    <span class="material-icons">
                                        keyboard_arrow_down
                                    </span>
                                </div>
                            </div>
                        </div>
                        
                    </article>

                    <article class="cart-items">
                        <div class="cart-items-titles">
                            <ul class="item-titles">
                                <li class="item">Item</li>
                            </ul>    
                            <ul class="item-titles">
                                <li>Price</li>
                                <li>Quantity</li>
                                <li>Total Price</li>
                            </ul>  
                        </div>    
                        

                        <div class="cart-product">
                            <div class="list-item">
                                
                                <div class="product-img">
                                    <img src="https://images.unsplash.com/photo-1583743814966-8936f5b7be1a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80"  alt="">
                                </div>
                                
                                <ul class="product-features">
                                    <li><h3>PRODUCT NAME</h3></li>
                                    <li><p>STYLE #222222</p></li>
                                    <li><p>Size 6</p></li>
                                    <li><a href="" id="product-edit">Edit</a></li>
                                </ul>
                                
                            </div>

                            <div class="list-item2">
                                <ul>   
                                    <li>$0.00</li>
                                    <li>
                                        <form action="">
                                            <input type="number" name="productQuantity" class="input-style">
                                        </form>
                                    </li>
                                    <li>
                                        $0.00
                                    </li>
                                </ul>

                                <div class="action-container">
                                    <span class="material-icons">
                                        keyboard_arrow_up
                                    </span>
                                    <span class="material-icons">
                                        keyboard_arrow_down
                                    </span>
                                </div>
                            </div>
                        </div>
                        
                    </article> 

                    <article class="cart-items">
                        <div class="cart-items-titles">
                            <ul class="item-titles">
                                <li class="item">Item</li>
                            </ul>    
                            <ul class="item-titles">
                                <li>Price</li>
                                <li>Quantity</li>
                                <li>Total Price</li>
                            </ul>  
                        </div>    
                        

                        <div class="cart-product">
                            <div class="list-item">
                                
                                <div class="product-img">
                                    <img src="https://images.unsplash.com/photo-1583743814966-8936f5b7be1a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80"  alt="">
                                </div>
                                
                                <ul class="product-features">
                                    <li><h3>PRODUCT NAME</h3></li>
                                    <li><p>STYLE #222222</p></li>
                                    <li><p>Size 6</p></li>
                                    <li><a href="" id="product-edit">Edit</a></li>
                                </ul>
                                
                            </div>

                            <div class="list-item2">
                                <ul>   
                                    <li>$0.00</li>
                                    <li>
                                        <form action="">
                                            <input type="number" name="productQuantity" class="input-style">
                                        </form>
                                    </li>
                                    <li>
                                        $0.00
                                    </li>
                                </ul>

                                <div class="action-container">
                                    <span class="material-icons">
                                        keyboard_arrow_up
                                    </span>
                                    <span class="material-icons">
                                        keyboard_arrow_down
                                    </span>
                                </div>
                            </div>
                        </div>
                        
                    </article>     
                </div>  
            
            
                <div class="order-summary">

                    <h3>Order summary</h3>
                    <p class="delivery-options">Delivery options</p>

                    <div class="container-checkout">
                        <div class="data-pre-checkout">
                            <p>Subtotal</p>
                            <p>Shipping</p>
                            <p>Estimated tax</p>
                            <h4>TOTAL</h4>
                            <button type="submit"><a href="/cart/checkout">PROCEED TO CHECKOUT</a></button>
                        </div>
                        <div class="code-checkout">
                            <p>PROMO CODE</p>
                            <form action="" method="GET">
                                <input type="text" class="input-style" name="promo-code">
                            </form>
                        </div>
                    </div>
                </div>    
            </div> 
            </div>
        </section>   

        <section class="cart-wishlist">
            <h3>Add from your wishlist</h3>
            <div class="cart-wishlist-container">
                <div class="icon-container">
                    <span class="material-icons">
                        navigate_before
                    </span>
                </div>


                <div class="wishlist-img">
                    <img src="https://images.unsplash.com/photo-1583743814966-8936f5b7be1a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80"  alt="">
                
                </div>
                
                <div class="wishlist-img">
                    <img src="https://images.unsplash.com/photo-1583743814966-8936f5b7be1a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80"  alt="">
                
                </div>
                
                <div class="wishlist-img">
                    <img src="https://images.unsplash.com/photo-1583743814966-8936f5b7be1a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80"  alt="">
                
                </div>

                <div class="wishlist-img">
                 
                    <img src="https://images.unsplash.com/photo-1583743814966-8936f5b7be1a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80"  alt="">
                    
                </div>

               
                <div class="wishlist-img">
                    <img src="https://images.unsplash.com/photo-1583743814966-8936f5b7be1a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80"  alt="">
                
                </div class="wishlist-img">

                <div class="icon-container">
                    <span class="material-icons">
                        navigate_next
                    </span>
                </div>
            </div>
        </section>

    </main>


    <script src="scripts/fixed-main.js"></script>

    <%- include('partials/footer') %> 
    
</body>
</html>