<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head')%>
<body>

    <!-- HEADER -->
    <%- include('partials/header')%>
    
    <main>
        <div class= "h1-left">
            <h1>Contact us</h1>
        </div>

        <section class="contact-container">
            
            <div class="contact-info">
                
                <h3>Titulo info</h3>
                <p>reckless@info.com, amet consectetur adipisicing elit. Temporibus tempora</p>
                <p>- Lorem ipsum dolor sit, amet consectetur adipisicing elit. </p>
                <p>- Lorem ipsum dolor sit, amet consectetur </p>
                
            </div>

            <div class="contact-info">
                <h3>Titulo info</h3>
                <p>Bs As, ARG</p>
                <p>- Lorem ipsum dolor sit, amet consectetur empora</p>
                <p>- Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                
            </div>

            <div class="contact-info">
               
                <h3>Titulo info</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. </p>
                <p>Lorem ipsum dolor sit, amet consectetur 0800-333-2224. </p>
                <p>- Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                
            </div>

            <div class="contact-info">
                <h3>Titulo info</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. </p>
                <p>- +549-011-2341-2345, amet consectetur adipisicing elit. Temporibus tempora</p>
                <p>- Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            </div>

        </section>

    </main>

    <!-- FOOTER -->
    <%- include('partials/footer')%>
    
</body>
</html>