<!DOCTYPE html>
<html lang="en">

<%- include('partials/head')%>

<body>

        <!-- HEADER -->
        <%- include('partials/header')%>

        <a class="paralax-link" href="/products">
            <div class="parallax-mirror">
                <div class="parallax"></div>   
            </div>
        </a>
        <main>
            
            <section id="new-arrivals">
                <h2>NEW ARRIVALS</h2>
                <div class="products-container">

                    <article class="product-container">
                        <a href="/products/detail">
                            <img src="https://images.unsplash.com/photo-1583743814966-8936f5b7be1a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="">
                            <div class="product-detail">
                                <h3>Product name</h3>
                                <p>$0.00</p>
                            </div>
                            <span class="material-icons-outlined">
                                favorite_border
                            </span>
                        </a>
                    </article>

                    <article class="product-container">
                        <a href="/products/detail">
                            <img src="https://images.unsplash.com/photo-1583743814966-8936f5b7be1a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="">
                            <div class="product-detail">
                                <h3>Product name</h3>
                                <p>$0.00</p>
                            </div>
                            <span class="material-icons-outlined">
                                favorite_border
                            </span>
                        </a>
                    </article>

                    <article class="product-container">
                        <a href="product-detail">
                            <img src="https://images.unsplash.com/photo-1583743814966-8936f5b7be1a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="">
                            <div class="product-detail">
                                <h3>Product name</h3>
                                <p>$0.00</p>
                            </div>
                            <span class="material-icons-outlined">
                                favorite_border
                            </span>
                        </a>
                    </article>

                    <article class="product-container">
                        <a href="product-detail">
                            <img src="https://images.unsplash.com/photo-1583743814966-8936f5b7be1a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="">
                            <div class="product-detail">
                                <h3>Product name</h3>
                                <p>$0.00</p>
                            </div>
                            <span class="material-icons-outlined">
                                favorite_border
                            </span>
                        </a>
                    </article>
                    
                    <article class="product-container">
                        <img src="https://images.unsplash.com/photo-1583743814966-8936f5b7be1a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="">
                        <div class="product-detail">
                            <h3>Product name</h3>
                            <p>$0.00</p>
                        </div>
                        <span class="material-icons-outlined">
                                favorite_border
                            </span>
                    </article>

                    <article class="product-container">
                        <img src="https://images.unsplash.com/photo-1583743814966-8936f5b7be1a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="">
                        <div class="product-detail">
                            <h3>Product name</h3>
                            <p>$0.00</p>
                        </div>
                        <span class="material-icons-outlined">
                                favorite_border
                            </span>
                    </article>

                    <article class="product-container">
                        <img src="https://images.unsplash.com/photo-1583743814966-8936f5b7be1a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="">
                        <div class="product-detail">
                            <h3>Product name</h3>
                            <p>$0.00</p>
                        </div>
                        <span class="material-icons-outlined">
                                favorite_border
                            </span>
                    </article>

                    <article class="product-container">
                        <img src="https://images.unsplash.com/photo-1583743814966-8936f5b7be1a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="">
                        <div class="product-detail">
                            <h3>Product name</h3>
                            <p>$0.00</p>
                        </div>
                        <span class="material-icons-outlined">
                                favorite_border
                            </span>
                    </article>

                    <article class="product-container">
                        <img src="https://images.unsplash.com/photo-1583743814966-8936f5b7be1a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="">
                        <div class="product-detail">
                            <h3>Product name</h3>
                            <p>$0.00</p>
                        </div>
                        <span class="material-icons-outlined">
                                favorite_border
                            </span>
                    </article>

                    <article class="product-container">
                        <img src="https://images.unsplash.com/photo-1583743814966-8936f5b7be1a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="">
                        <div class="product-detail">
                            <h3>Product name</h3>
                            <p>$0.00</p>
                        </div>
                        <span class="material-icons-outlined">
                                favorite_border
                            </span>
                    </article>

                    <article class="product-container">
                        <img src="https://images.unsplash.com/photo-1583743814966-8936f5b7be1a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="">
                        <div class="product-detail">
                            <h3>Product name</h3>
                            <p>$0.00</p>
                        </div>
                        <span class="material-icons-outlined">
                                favorite_border
                            </span>
                    </article>

                    <article class="product-container">
                        <img src="https://images.unsplash.com/photo-1583743814966-8936f5b7be1a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="">
                        <div class="product-detail">
                            <h3>Product name</h3>
                            <p>$0.00</p>
                        </div>
                        <span class="material-icons-outlined">
                                favorite_border
                            </span>
                    </article>
                </div>
            </section>

        </main>

    <script src="scripts/parallax.js"></script>
    <script src="scripts/fixed-main.js"></script>

    <!-- FOOTER -->

    <%- include('partials/footer')%>

    
</body>

</html>