<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reckless</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    
</head>

<body>
    <div class="background-villero">
    <header>
        <section id="promotions">
            <h6>PROMOTIONS</h6>
        </section>
        <nav>
           
            <ul id="nav-bar1">
                <li class="search"><i class="fas fa-search"></i></li>          
                <li><a href="" id="my-account">MY ACCOUNT</a></li>     
                <li><a href="/wishlist">WISHLIST</a></li>
                <li><a href="/cart"><i class="fas fa-shopping-cart"></i></a></li>
                <li>EN | ES</li>
            </ul>
            
            <div class="container-logo">
                <img class="logo" src="imgs/logoreckless.png"  alt="">
            </div>  

            <ul id="nav-bar2">
                <li><a href="/">HOME</a></li>
                <li><a href="/shop">SHOP</a></li>
                <li><a href="/lookbook">LOOKBOOK</a></li>
                <li><a href="/social">SOCIAL</a></li>
                <li><a href="/contact">CONTACT</a></li>
            </ul>
           
        </nav>
    </header>

    <main>
        
    </main>
    
    </div>

    <section id="new-arrivals">
        <h2>NEW ARRIVALS</h2>
        <div class="products">

            <article class="product-container">
                <img src="https://images.unsplash.com/photo-1583743814966-8936f5b7be1a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="">
                <div class="product-detail">
                    <h3>Product name</h3>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
                <i class="fas fa-heart"></i>
            </article>

            <article class="product-container">
                <img src="https://images.unsplash.com/photo-1583743814966-8936f5b7be1a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="">
                <div class="product-detail">
                    <h3>Product name</h3>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
                <i class="fas fa-heart"></i>
            </article>

            <article class="product-container">
                <img src="https://images.unsplash.com/photo-1583743814966-8936f5b7be1a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="">
                <div class="product-detail">
                    <h3>Product name</h3>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
                <i class="fas fa-heart"></i>
            </article>

            <article class="product-container">
                <img src="https://images.unsplash.com/photo-1583743814966-8936f5b7be1a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="">
                <div class="product-detail">
                    <h3>Product name</h3>
                    <p>Lorem ipsum dolor sit amet.</p>                       
                </div>
                <i class="fas fa-heart"></i>
            </article>
            
            <article class="product-container">
                <img src="https://images.unsplash.com/photo-1583743814966-8936f5b7be1a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="">
                <div class="product-detail">
                    <h3>Product name</h3>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
                <i class="fas fa-heart"></i>
            </article>

            <article class="product-container">
                <img src="https://images.unsplash.com/photo-1583743814966-8936f5b7be1a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="">
                <div class="product-detail">
                    <h3>Product name</h3>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
                <i class="fas fa-heart"></i>
            </article>

            <article class="product-container">
                <img src="https://images.unsplash.com/photo-1583743814966-8936f5b7be1a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="">
                <div class="product-detail">
                    <h3>Product name</h3>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
                <i class="fas fa-heart"></i>
            </article>

            <article class="product-container">
                <img src="https://images.unsplash.com/photo-1583743814966-8936f5b7be1a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="">
                <div class="product-detail">
                    <h3>Product name</h3>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
                <i class="fas fa-heart"></i>
            </article>
        </div>
    </section>

    


       

    <footer>

        <ul id="footer-left">
            <li><a href="">TERMS OF USE</a></li>
            <li><a href="">ABOUT US</a></li>
            <li><a href="">NEWSLETTER</a></li>
            <li><a href="">FAQ</a></li>
        </ul>    

        <ul id="footer-rigth">
            <li><p>FOLLOW US</p></li>
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        </ul>
    </footer>

    
</body>

</html>