<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RECKLESS</title>
    <link rel="stylesheet" href="css/header.css">
   
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
</head>
<body>

    <!-- HEADER -->
    <%- include('partials/header')%>

    <main>
        <h1>lookbook</h1>

    </main>
    
    <!-- FOOTER -->

    <%- include('partials/footer')%>
    
</body>
</html>