<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head')%>
<body>

    <!-- HEADER -->
    <%- include('partials/header')%>

    <main>
        <div class="h1-left">
            <h1>lookbook</h1>
        </div>
    </main>
    
    <!-- FOOTER -->

    <%- include('partials/footer')%>
    
</body>
</html>